body {
    background-image: url(https://www.xmple.com/wallpaper/linear-white-highlight-gradient-grey-1920x1080-c2-708090-ffffff-l-67-a-270-f-21.svg);
}

h1 {
    font-family: monospace;
    font-size: 35px;
    color: rgb(84, 93, 224)
}
